rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    // farmers/{userId}/photos/** and reports/**
    match /farmers/{userId}/{allPaths=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
